<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SureaHR</h1>
    <h2>Sign In</h2>
    <input id="password" type="password" placeholder="password"/>
    <input id="confirm-password" type="password" placeholder="confirm password"/>
</body>
</html>